numpy==1.24.4
torch==2.4.1
opencv-python==4.10.0.84
matplotlib==3.5.1
open3d==0.18.0
transformers==4.46.2
ultralytics==8.3.32
chromadb==0.5.18
scikit-learn==1.3.2
git+https://github.com/openai/CLIP.git